.coup{
  transform: scale(-1,1);
}

.input-number {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: #424348;
  font-size: 14px;
  text-align: center;
  width: calc(33px * 3);
  margin: auto;
  visibility: hidden;

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.input-number__input {
  background: #E5E8EE;
  width: 32px;
  height: 32px;
  border: none;
  padding: 8px;
  text-align: center;
  border-radius: 10px;
}
  .input-number__minus,
  .input-number__plus{
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
    font-size: 40px;
    color: white;
}

.input-number__minus:hover,
.input-number__plus:hover{
  color: #1976D2;
}

.activity-field{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.charts-wrapper{
width: 100%;
}

.reposList{
  width: 30%;

  ul{
    border: 3px solid #484848;
    border-radius: 15px;
    padding: 0 5%;
    margin-right: 10%;
    visibility: hidden;
  }

  li{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a{
    text-decoration: none;
    color: #1976d2;
  }
  a:hover{
    text-decoration: underline;
  }
}
