.charts {
  display: flex;
  justify-content: center;
  margin: 3% 20%;
  max-width: 60%;
  height: 60%;
  border-color: black;


  canvas {
    height: 20rem;
  }
}

.repos-info{

  h2{
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #AFBDD1;
  }

}
