$fontStyle: Roboto, sans-serif;;
$fontColorMain: #2B3648;
$textColor: #ffff;

body {
  background: $fontColorMain;
  font-family: $fontStyle;
}

.startPage {
  color: $textColor;
  margin-top: 5%;
}

.startPage > h1 {
  text-align: center;
  font-size: 72px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.15px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.search-field {
  margin: 10% 23%;
  width: 54%;
  height: 20rem;
  background: #212936;
  text-align: center;

  h2 {
    padding-top: 3rem;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 30px;
    letter-spacing: 0.15px;


  }

  input[type="text"] {
    padding: 0 2%;
    width: 26%;
    height: 20%;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    background: #C4C4C4 100%;
    border-radius: 20px;
    outline: none;
  }
}
