@import "navButton";
@import "userSearch";
@import "charts";
@import "reposCard";
@import "aboutRepos";
@import "activity";
@import "pagination";
$fontStyle: Roboto, sans-serif;
$fontColorMain: #2B3648;
$textColor: #ffff;
body {
  background: $fontColorMain;
  font-family: $fontStyle;
  max-height: 100%;
}

.startPage {
  color: $textColor;
  margin-top: 5%;
}

.startPage > h1 {
  text-align: center;
  font-size: 72px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.15px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.main-field{
  width: 82%;
  height: 70%;
  float: right;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.loader-position{
  margin: 2% auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width: 200px) and (max-width: 1080px) {
  .main-field {
    float: none;
    width: 100%;
  }
}
